@import "tailwindcss";

body,
html {
  background-color: black;
}

@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle-stroke-2 {
  animation: rotate-clockwise 30s linear infinite;
  transform-origin: 221px 231px;
}

.circle-stroke-3 {
  animation: rotate-clockwise 30s linear infinite;
  transform-origin: 221px 231px;
}

.circle-stroke-4 {
  animation: rotate-clockwise 30s linear infinite;
  transform-origin: 221px 231px;
}

.amazon,
.cart {
  animation: rotate-clockwise 13s linear infinite;
  transform-origin: 221px 231px;
}
